@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 120%;
  line-height: 150%;
  text-rendering: optimizeLegibility;
}
nav h2 {
  font-size: 2rem;
}
